@page "/PersonalAccount"
@inject NavigationManager navigation
@inject CurrentUserService currentUser
@inject ILocalStorageService localStorage
@if (currentUser.Email==null)
{
  <p>Загрузка...</p>
}


@code {
    private LoginRequest forLogin = new();
    private string message;
    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsync<string>("AuthToken");
        if (string.IsNullOrEmpty(token))
        {
            navigation.NavigateTo("login");
            return;
        }
    }
}
