@inject CurrentUserService currentUser


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""> <h5>Привет, @currentUser.UserName!</h5></a>
    
    </div>
</div>


    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

    <div class="nav-item px-3">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNotes" role="button" aria-expanded="false" aria-controls="collapseNotes">
            <span class="bi bi-list-nested-nav-menu"></span> Мои заметки
        </a>
        <div class="collapse" id="collapseNotes">
            <ul class="list-unstyled ps-3">
                <li><NavLink class="nav-link" href="/prioritetTask">По важности</NavLink></li>
                <li><NavLink class="nav-link" href="#">По дате</NavLink></li>
                <li><NavLink class="nav-link" href="/createTask">Создать заметку</NavLink></li>
            </ul>
        </div>
    </div>

    <div class="nav-item px-3">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNotes" role="button" aria-expanded="false" aria-controls="collapseNotes">
            <span class="bi bi-list-nested-nav-menu"></span> Категории
        </a>
        <div class="collapse" id="collapseNotes">
            <ul class="list-unstyled ps-3">
                <li><NavLink class="nav-link" href="/notes/personal/all">Создать</NavLink></li>
                <li><NavLink class="nav-link" href="/notes/work/all">Удалить</NavLink></li>
                <li><NavLink class="nav-link" href="/notes/work">Редактировать</NavLink></li>
            </ul>
        </div>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNotes" role="button" aria-expanded="false" aria-controls="collapseNotes">
            <span class="bi bi-list-nested-nav-menu"></span> Мои достижения
        </a>
        <div class="collapse" id="collapseNotes">
            <ul class="list-unstyled ps-3">
                <li><NavLink class="nav-link" href="/notes/personal/all">За месяц</NavLink></li>
                <li><NavLink class="nav-link" href="/notes/work/all">За год</NavLink></li>

            </ul>
        </div>
    </div>

    </nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
